<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @drug.drug %>
</p>

<p>
  <strong>adult24HourDose:</strong>
  <%= @drug.adult24HourDose %>
</p>

adult24HourDose

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
