<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br>
    <!--<%= f.text_field :title %>-->
    <%= f.select :title, ['','Mr', 'Miss', 'Ms', 'Mrs']%>
  </div>
  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <!--<%= f.text_field :gender %>-->
    <%= f.select :gender, ['','Male', 'Female']%>
  </div>
  <div class="field">
    <%= f.label :bloodgroup_id %><br>
    <%= collection_select(:patient, :bloodgroup_id, BloodGroup.all.order(bloodgroup: :asc), :id, :bloodgroup, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
