<% content_for :title, "All Patients" %>
<p id="notice"><%= notice %></p>
<%= link_to 'New Patient', new_patient_path %>
<br>
<h1 class="text-center">Listing Patients</h1>
<% if @patients.count < 5 %>
  <div class="card-deck">
<% else %>
  <div class="card-columns">
<% end %>
  <% @patients.each do |patient| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= patient.fullname %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= patient.gender %></h6>
      <p class="card-text">
        <% if patient.bloodgroup_id.present? %>
          <%= BloodGroup.find(patient.bloodgroup_id).bloodgroup %>
        <% else %>
          NONE
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', patient, class: "card-link" %>
      <%= link_to 'Edit', edit_patient_path(patient), class: "card-link" %>
      <%= link_to 'Destroy', patient, method: :delete, class: "card-link", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>

