<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= Patient.find(@pulse.patient_id).fullname %>
</p>

<p>
  <strong>Pulse:</strong>
  <%= @pulse.pulse %>
</p>

<p>
  <strong>Dt:</strong>
  <%= @pulse.dt %>
</p>

<%= link_to 'Edit', edit_pulse_path(@pulse) %> |
<%= link_to 'Back to Pulses', pulses_path %> |
<%= link_to 'To Patient', ('/patients/' + @pulse.patient_id.to_s) %>
