<p id="notice"><%= notice %></p>

<p>
  <strong>Medication:</strong>
  <%= Medication.find(@medication_drug.medication_id).medication %>
</p>

<p>
  <strong>Drug:</strong>
  <%= Drug.find(@medication_drug.drug_id).drug %>
</p>

<p>
  <strong>Drugmg:</strong>
  <%= @medication_drug.drugMg %>
</p>

<p>
  <strong>Drugml:</strong>
  <%= @medication_drug.drugMl %>
</p>

<p>
  <strong>Format:</strong>
  <%= @medication_drug.format %>
</p>

<%= link_to 'Edit', edit_medication_drug_path(@medication_drug) %> |
<%= link_to 'Back', medication_drugs_path %>
